@model Ecommerce.Models.ViewModels.InventoryVM
@{
    ViewData["Title"] = "newInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Crear Nuevo Inventario";
}

<h1>newInventory</h1>

